extends _layout

block subpage_data
	- dp.page.title = "404 - Page not found"
	- dp.page.slug = "404"
	- dp.page.class = "site-page--404"
	- dp.page.description = ""
	- dp.page.keywords = ""

block subpage_styles
block subpage_scripts

block content
	h1 404 lolwut

