//- IMPORTS
block subpage_data
include dopamine/dp-doc
include dopamine/dp-head
include dopamine/dp-snippets-inline
include dopamine/dp-vendor

//- LAYOUT
+dp_doc('html5-modernizr', 'en-US')
head
	+dp_head_meta_charset()
	+dp_head_meta_chromeframe()
	+dp_head_title(dp.page.title, dp.project.name)
	+dp_head_meta_description(dp.page.description)
	+dp_head_meta_keywords(dp.page.keywords)
	//- +dp_head_meta_viewport()

	+dp_head_author()

	//- Comment out if you have these files in site's root folder
	+dp_head_favicon('ico','images/favicons/favicon.png')
	+dp_head_favicon('apple-touch-icon-precomposed','images/favicons/favicon.png', '152x152')
	+dp_head_favicon('ms-application','images/favicons/favicon.png', '#FFFFFF')

	//- link(rel='stylesheet', href='public/css/bundle-libs.css')
	link(rel='stylesheet', href='css/main.css')

	//- +dp_vendor('modernizr')

body(class=dp.page.class)

	//- +dpsn_oldies()

	// COMMON HEADER
	h1 Header yeey!
	// END OF COMMON HEADER



	// PAGE CONTENT
	block content
	// END OF PAGE CONTENT



	// COMMON FOOTER
	h1 Footer
	ul
		li
			a(href="http://disneyland.com") External link test

	script.
		_App_ = {};
		_App_.propFromServer = 'JOLO!';

	script(src='scripts/vendor.js')
	script(src='scripts/application.common.js')

	block subpage_scripts


//- +dpsn_google_analytics('UA-XXXX-X')

